# IDE
.idea/*
.idea
!.idea/icon.png
.vscode
.pnpm-store/

# logs
/logs/
*.log

# config
config.yaml
.env
.env.*
!.env.example

# sqlite
*.db
*.db-journal
*.db-shm
*.db-wal

# frontend
frontend/build
frontend/disk
frontend/node_modules/*
frontend/.next/*
frontend/next-env.d.ts
frontend/package-lock.json
frontend/.env
*.tsbuildinfo

# os
.DS_Store
Thumbs.db

# build
/build/
/bin/
/dist/

# go workspace
go.work
go.work.sum
main

# upload
/uploads/
s3_cache

/frontend/.next/
/data/
/internal/router/dist/
/frontend/out/
/internal/router/root/dist/
.dmux/

# test coverage
*.out
coverage.*
*.coverprofile
profile.cov

# generic ignores
.cache
.gocache*
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*-source
*-source.zip
.codex*
.grok
/.gomodcache/
*.mmdb
!openflare_agent/internal/geoipdata/GeoLite2-Country.mmdb